body {
  background-color: -webkit-linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #6f4bb1
  );
  background: linear-gradient(to right, #ffaf7b, #d76d77, #6f4bb1);
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.logo {
  color: #ffaf7b;
  font-weight: 400;
}

h1 {
  display: flex;
  justify-content: center;
  color: #dfc155;
}

.start-page {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.start-text {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(224, 194, 223, 0.5);
  color: #461d41;
  padding: 10px;
  font-size: 60px;
  opacity: 0;
  animation: appear 2.3s forwards;
  width: 500px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-textbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gif,
.gif2,
.gif3,
.gif4 {
  margin-top: 0;
  padding: 0;
  height: 80vh;
  width: 100vh;
}

.nyan {
  position: absolute;
  bottom: 70px;
  right: 0;
  padding: 0px;
  animation: appear 2.3s forwards;
  width: 250px;
}

.textbox {
  position: absolute;
  bottom: 180px;
  right: 190px;
  padding: 0px;
  width: 270px;
  z-index: 1;
  animation: appear 3s forwards;
}

p.textbox-text {
  position: absolute;
  bottom: 300px;
  right: 172px;
  padding: 0px;
  animation: appear 7s forwards;
  font-size: large;
  font-weight: 500;
  width: 250px;
  z-index: 2;
}

header {
  background-color: #461d41;
  color: blanchedalmond;
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: 98.4%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  top: 0;
  background-color: #461d41;
  width: 100%;
  margin: 0 auto;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  text-decoration: none;
  margin: 0px;
  flex: 1;
  transition: color 0.3s;
}

nav a:hover {
  color: #0cebff;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;
  max-height: 60vh;
  color: #461d41;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vh;
  top: 55px;
}

p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

span {
  font-size: large;
  font-weight: 600;
}

input {
  background-color: rgb(255, 245, 133);
  border: 3px #a58c32 dashed;
  outline: none;
  color: #a58c32;
}

input::placeholder {
  color: #a58c32;
  font-style: italic;
}

button {
  background-color: #a58c32;
  color: #461d41;
  border: 3px #461d41 solid;
}

button:hover {
  background-color: #461d41;
}

label {
  font-weight: bold;
  color: #461d41;
}

.hint {
  font-style: italic;
  color: #a58c32;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #a58c32;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.result {
  font-weight: 600;
  color: #461d41;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #461d41;
  color: blanchedalmond;
  height: 3vh;
  margin: 0;
  padding: 20px;
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 390px) {
  header {
    max-width: 94.8%;
  }

  main {
    padding: 10px;
  }
  nav {
    flex-direction: row;
    justify-content: flex-start;
  }

  nav a {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 10px;
  }
}
